// body
$body-bg: #f8fafc;

// typography
$fa-font-path: "../webfonts";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto+Slab');
$font-family-sans-serif: 'Roboto Slab', 'Noto Sans TC', sans-serif;

$font-size-base: 0.9rem;
$font-size-larger: 1.2rem;
$font-size-large: 1.4rem;
$font-size-x-large: 1.6rem;
$font-size-xx-large: 1.8rem;

$line-height-base: 1.6;

// 顏色
$blue: #3490dc;
$cyan: #6cb2eb;
$green: #38c172;
$indigo: #6574cd;
$magenta: #ca1f7b;
$orange: #f6993f;
$pink: #f66D9b;
$purple: #9561e2;
$red: #e3342f;
$teal: #4dc0b5;
$yellow: #ffed4a;
