@import 'variables';

table {
    table-layout: fixed;

    tr {
        th.column {
            width: 6.5rem;
        }

        th.column-name {
            width: 6rem;
        }

        th.column-phone {
            width: 10rem;
        }

        th.column-fax {
            width: 6.5rem;
        }

        th.column-email {
            width: 15rem;
        }
    }
}
