@import 'variables';

div.alert {
    display: none;

    i {
        margin-right: 0.5rem;
    }

    div {

    }

    .close {
        float: none;
        position: absolute;
        right: 5%;
        top: 5%;
    }
}
